html,
body {
  width: 100vw;
  height: 100vh;
  background: #4B79A1;
  /* fallback for old browsers */
  background: -webkit-linear-gradient(to left, #4b79a1, #283e51);
  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to left, #4b79a1, #283e51);
  /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  display: -webkit-box;
  /* OLD - iOS 6-, Safari 3.1-6 */
  display: -moz-box;
  /* OLD - Firefox 19- (buggy but mostly works) */
  display: -ms-flexbox;
  /* TWEENER - IE 10 */
  display: -webkit-flex;
  /* NEW - Chrome */
  display: flex;
  -webkit-align-items: center;
  align-items: center;
  font-family: 'Droid Sans', arial, sans-serif;
  font-weight: bold;
  font-size: 14px;
  color: #FFF;
}
h1 {
  text-align: center;
  margin: auto;
  font-size: 4em;
}
h1 span {
  position: relative;
  top: 5px;
}
div.container {
  width: 95%;
  max-width: 1100px;
  margin: auto;
  text-align: center;
}
div.container #filters {
  margin: 40px 0;
}
div.container #filters a {
  display: inline-block;
  background: #FFF;
  padding: 5px 10px;
  text-decoration: none;
  color: #000;
  margin: 0 10px;
  transition: background 0.5s, color 0.5s;
}
div.container #filters a:hover,
div.container #filters a.active {
  background: #000;
  color: #FFF;
}
div.container ul {
  margin: auto;
  width: 100%;
  padding: 0;
}
div.container ul li {
  width: 300px;
  display: inline-block;
  position: relative;
  margin-bottom: 10px;
}
div.container ul li div.cover {
  width: 100%;
}
div.container ul li div.cover img {
  max-width: 100%;
  display: block;
}
div.container ul li div.description {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  text-align: center;
  background: rgba(255, 255, 255, 0.7);
  cursor: pointer;
  opacity: 0;
  transition: opacity 0.5s;
  display: -webkit-box;
  /* OLD - iOS 6-, Safari 3.1-6 */
  display: -moz-box;
  /* OLD - Firefox 19- (buggy but mostly works) */
  display: -ms-flexbox;
  /* TWEENER - IE 10 */
  display: -webkit-flex;
  /* NEW - Chrome */
  display: flex;
  -webkit-align-items: center;
  align-items: center;
}
div.container ul li div.description h3 {
  margin: auto;
  color: #000;
  text-transform: uppercase;
  font-weight: 700;
  font-style: italic;
}
div.container ul li:hover div.description {
  opacity: 1;
}
